:host {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  min-width: 450px;

  @media (max-width: 400px) {
    min-width: 350px;
  }
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  min-width: 200px;

  .change-action {
    margin-top: 30px;
    width: 100%;
  }

  form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
